@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic");

$blue: #42aedc;
$dm-blue: #006da1;
$dark-blue: #3c9dc7;
$black: #2f323a;
$light-grey: #e2e3ea;

.btn {
  display: inline-block;
  background-color: #f0f3f6;
  font-size: 14px;
  font-weight: 400;
  // padding: 0 15px;
  border-radius: 3px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;

  // transition: 200ms ease all;
  // -webkit-transition: 200ms ease all;

  &:focus {
    outline: none;
  }
}

.dm-follow {

  font-family: 'Source Sans Pro', sans-serif;

  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &.hidden {
    display: none;
  }

  &__btn {

    // transition: none;
    // -webkit-transition: none;

    // transition: 100ms ease all;
    // -webkit-transition: 100ms ease all;

    background: $blue;
    color: #fff;
    // padding: 0 15px;
    width: 80px;
    &:hover:focus,
    &:hover {
      background-color: $dark-blue;
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    &:before {
      display: inline-block;
      content: '';
      width: 10px;
      height: 12px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAUCAYAAADhj08IAAACDklEQVRIx7WWzytEURTH5zVIikiPkoVkoVjMSxays7D3D9jYjSz8A3Y2fmxnzEZJUoqQUtNgsrQQpSxIWQgpiZXSPN+rc6czZ+59896YmfrUzHmn9z5zz7nnvpjv+7Eg8mNDf8wceFHpA+dgUP2m+yRBGjj6vgyHriVVvklGf0riEaUGwCPwwSvwSKoAfLAm5ByK+ZSTrIeYWqEnktIc02r4DC3HpYrXai02DF6ElCpnq03AEMuo3Khi3WADdBmkPPAmpLKghfWYSa5MSvdYqA+Se8EtPfAO9DOpUfAupI5As86x9JOptLGoYlnx4GcwAsbBh7i2C5r4ihp2nxRLS7GwpVRlvBQCn+BLxLZAgyx1BamSVatmXLSBvBDhrIO4aWNYSpixbAinml2p+mbfIJUCjm3HGlYqU49xEafV0VIrQVIkFmXAzsYm9u4DCTiSlMgSWAwz40IeSSklZeqxstUKcVZOghzoQF4C5IDLHuhSLKHybWexjP9XbAp862GKvFMqxxUJufRdxXImMRuhxHDDdoPUNPghqQc1cEnkmslpKRVzo4pVGqwenX/LrMHnQIGkbkAP6yMuV5TSq67/bNBrVlgxPhp2wAL7fQE6RYPz8vGyRhYLLCUdLduGuXWm3hrEznNF+XhZ3Xr0mCrhKpM65Ac0E8uJ8vGy1r752a6cB5ug0TKrbOPiJOq4+AU7AFdRp4RXTAAAAABJRU5ErkJggg==);
      background-position: 0 0;
      margin: 0 6px 0 0;
      position: relative;
      top: 1px;

      // transition: 100ms ease all;
      // -webkit-transition: 100ms ease all;
    }

  }

  &__count {
    height: 28px;
    line-height: 28px;
    margin-left: 9px;
    font-size: 12px;
    padding: 0 9px;
    border: 1px solid $light-grey;
    background-color: #fff;
    color: $black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    vertical-align: middle;
    position: relative;
    top: -1px;

    display: none;

    &.active {
      display: inline-block;
    }

    &:after, &:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 4px;
      margin-top: -4px;
    }
    &:before {
      border-color: rgba(210, 216, 219, 0);
      border-right-color: #d2d8db;
      border-width: 5px;
      margin-top: -5px;
    }
  }

  &--min {

    .dm-follow__btn {
      height: 21px;
      padding: 0 8px;
      font-size: 11px;

      &:before {
        width: 8px;
        height: 8px;
        background-position: 0 -12px;
        top: 0;
      }
    }

  }

  &--unfollow {

    &.active {
      .dm-follow__btn {
        &:before {
          width: 12px;
          height: 12px;
          background-position: -26px 0;
        }
      }
    }

    .dm-follow__btn {

      width: 110px;

      // background-color: $very-light-grey;
      // border: 1px solid $grey;
      // border: 1px solid #d2d8db;
      border: 1px solid $light-grey;
      background-color: white;
      color: $black;

      &:hover:focus,
      &:hover {
        background-color: white;
        color: $black;
      }

      &:before {
        width: 16px;
        height: 12px;
        background-position: -10px 0;
      }

    }

    &.follow--min {

      &.active {
        .dm-follow__btn {
          &:before {
            width: 8px;
            height: 8px;
            background-position: -8px -12px;
          }
        }
      }

      .dm-follow__btn {
        &:before {
          width: 11px;
          height: 8px;
          background-position: -16px -12px;
        }
      }

    }


    &.follow--transparent {
      .dm-follow__btn {
        background: none;
        border: none;
        &:hover {
          background: none;
          border: none;
        }
      }
    }

  }

}
